<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Mood Tunes</title>
    {% else %}
    <title>Welcome to Mood Tunes</title>
    {% endif %}
</head>

<body>
    <div>
        Mood Tunes:
        <a href="{{ url_for('auth') }}">Connect</a>
        <a href="{{ url_for('gen') }}">Create</a>
        <a href="{{ url_for('display') }}">Display</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body

</html>